<ul>
<% (function(menu_item_tree){ let forEachMenuItem = function(menu_item_tree, depth){ depth=depth||1; _.each(menu_item_tree, function(menu_item){
  var menu_item_html = menu_item.menu_item_text;
  if((menu_item.menu_item_type||'').toUpperCase() != 'HTML') menu_item_html = Helper.escapeHTML(menu_item_html);
  var menu_item_tag = (menu_item.menu_item_tag||'').toUpperCase();
  var spaces = '  ';
  for(var i=0;i<depth;i++) spaces += '    ';
  var eol = '\n';

  %><%=spaces%><li<% if(menu_item.menu_item_class){ %> class="<%=menu_item.menu_item_class%>"<%}%><% if(menu_item.menu_item_style){ %> style="<%=menu_item.menu_item_style%>"<%}%>><%

    //Item Link
    if(menu_item.menu_item_link_type){
      if(menu_item.menu_item_link_type.toString().toUpperCase()=='JS'){
        %><a href="#" onclick="<%=menu_item.menu_item_link_dest%>; return false;"><%-menu_item_html%></a><%
      } else {
        %><a href="<%=menu_item.menu_item_link_dest%>"<%if((menu_item.menu_item_target||'').toUpperCase()=='NEWWIN'){%> target="_blank"<%}%>><%-menu_item_html%></a><%
      }
    } else {
      if(menu_item.menu_item_children.length){
        %><a href="#"><%-menu_item_html%></a><%
      } else {
        %><%-menu_item_html%><%
      }
    }

    //Item Children
    if(menu_item.menu_item_children.length) {
      %><%-eol%><%=spaces%>  <ul><%-eol%><%
        forEachMenuItem(menu_item.menu_item_children, depth+1);
      %><%=spaces%>  </ul><%-eol%><%=spaces%><%
    }

  %></li><%-eol%><%
}); }; forEachMenuItem(menu_item_tree); })(menu.menu_item_tree) %>
</ul>