<hr/>
<link rel="stylesheet" type="text/css" href="/css/diff2html.min.css">
<div class='clear conflict_display' style='margin-top:10px;margin-bottom:20px;'></div>
<div class='spacer_diff'></div>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_listing">
  <h3>Branch Changes (<#=numResolved #>/<#=numConflicts #> conflicts resolved) <div class="diff_editor_selection_container"></h3>
  <div class="clear"></div>

  <!-- ---------- -->
  <!-- NO CHANGES -->
  <!-- ---------- -->
  <# if(_.isEmpty(branch_conflicts)){ #>
    <hr/>
    <h4 class="branch_diff_item_header">
      No conflicts detected
    </h4>
  <# } #>

  <# _.each(branch_conflicts, function(branch_items, branch_item_type){ #>
    <# _.each(branch_items, function(branch_item){ #>
      <hr/>
      <#-renderItemConflicts(branch_item_type, branch_item)#>
    <# }); #>
  <# }); #>

  <hr/>

  <# if (numUnresolved > 0) { #>
    <h3>Unresolved Conflicts: <#=numUnresolved #></h3>
  <# } else { #>
    <h3>All Conflicts Resolved <input type="button" value="Continue and Complete Merge" class="button button_execute_merge" /></h3>
  <# } #>
</script>

<!-- ----- -->
<!-- PAGES -->
<!-- ----- -->
<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_page">
  <# if(branch_page.branch_page_merge_action!=null || branch_page.page_merge_id!=null){ #>
    <h4 class="branch_diff_item_header">
      <#-renderTemplate('Page_Diff_Header', {
        branch_page_action: branch_page.branch_page_merge_action,
        page_key: branch_page.page_key,
        oneline: true,
        title: 'View'
          + (branch_page.page_merge_id==((branch_page.src_page||{}).id)?' (Source Branch File Selected)':'')
          + (branch_page.page_merge_id==((branch_page.dst_page||{}).id)?' (Destination Branch File Selected)':''),
        new_page: branch_page.merge_page,
        old_page: branch_page.dst_page}) #>
      <input type="button" value="Undo Resolve" class="button button_unresolve_page" data-key="<#=branch_page.page_key#>"  data-id="<#=null#>" data-branch_action="<#=null#>" />
    </h4>
  <# } else { #>
    <div class="branch_diff_comparison">
      <table cellspacing=0 cellpadding=0 border=0>
        <tr>
          <td class="branch_diff_comparison_dst">
            <#-renderTemplate('Page_Diff_Comparison', {
              branch_page_action: branch_page.dst_branch_page_action,
              page_key: branch_page.page_key,
              title: 'Destination',
              desc: dst_branch_desc,
              diff: branch_page.dst_diff,
              map: map,
              new_page: branch_page.dst_page,
              old_page: branch_page.dst_orig_page}) #>
          </td>
          <td class="branch_diff_comparison_src">
            <#-renderTemplate('Page_Diff_Comparison', {
              branch_page_action: branch_page.src_branch_page_action,
              page_key: branch_page.page_key,
              title: 'Source',
              desc: src_branch_desc,
              diff: branch_page.src_diff,
              map: map,
              new_page: branch_page.src_page,
              old_page: branch_page.src_orig_page}) #>
          </td>
        </tr>
      </table>
    </div>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Page_Diff_Header">
  <# if(branch_page_action=='ADD'){ #>
    <i class="material-icons branch_action_icon add">add_circle</i>
    ADDED PAGE: &nbsp;&nbsp;<#-XExt.escapeHTML(new_page.path)#>
  <# } #>
  <# if(branch_page_action=='DELETE'){ #>
    <i class="material-icons branch_action_icon delete">remove_circle</i>
    DELETED PAGE: <#-XExt.escapeHTML(old_page.path)#>
    <a href="#" class="preview preview_page" data-page_key="<#=page_key#>" data-page_template_id="<#=old_page.template_id#>" data-page_filename="<#=old_page.filename#>" data-page_id="<#=old_page.id#>"><img src="/images/icon_browse.png" />Prev</a>
  <# } #>
  <# if(branch_page_action=='UPDATE'){ #>
    <i class="material-icons branch_action_icon update">create</i>
    UPDATED PAGE: <#-XExt.escapeHTML(old_page.path)#>
  <# } #>
  <# if(branch_page_action==null || branch_page_action==''){ #>
    <i class="material-icons branch_action_icon cancel">cancel</i>
    NO CHANGE: <#-XExt.escapeHTML(new_page.path)#>
  <# } #>
  <# if(!oneline) { #><br/><# } #>
  <# if((branch_page_action=='UPDATE') && (new_page.path!=old_page.path)){ #>
    <i class="material-icons branch_action_icon rename">subdirectory_arrow_right</i>
    RENAMED TO: &nbsp;&nbsp;<#-XExt.escapeHTML(new_page.path)#>
  <# } #>
  <# if(new_page.id!=null){ #>
    <a href="#" class="preview preview_page" data-page_key="<#=page_key#>" data-page_template_id="<#=new_page.template_id#>" data-page_filename="<#=new_page.filename#>" data-page_id="<#=new_page.id#>"><img src="/images/icon_browse.png" />Preview</a>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Page_Diff_Comparison">
  <h4 class="branch_diff_item_header"><#=title#> Branch: <#=desc#></h4>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Page_Diff_Header', {
      branch_page_action: branch_page_action,
      page_key: page_key,
      oneline: false,
      title: title,
      new_page: new_page,
      old_page: old_page}) #>
    <input type="button" value="Pick" class="button button_resolve_page" data-key="<#=page_key#>" data-id="<#=new_page.id#>" data-branch_action="<#=branch_page_action#>" />
  </h4>

  <# if (diff) { #>
    <div class="branch_diff_item <# if (diff.diff_with_cmp_branch) { #>branch_diff_item_collapsed<# } #>">
      <# if (diff.diff_with_cmp_branch) { #>
        <a href="#" class="branch_diff_item_toggle">
          <span class="branch_diff_item_expand">
            <img src="/images/icon_zoom_in.png" />
            Show differences with other's prior state
          </span>
          <span class="branch_diff_item_collapse">
            <img src="/images/icon_zoom_out.png" />
            Hide differences with other's prior state
          </span>
        </a>
      <# } #>

      <div class="branch_diff_item_details">
        <# _.each(_.pick(diff,['page_title','template_title','page_tags']), function(val, key){ #>
          <div class="diff_item"><b>New <#=map(key,'page')#></b>: <#=val#></div>
        <# }); #>

        <# _.each(diff && diff.seo, function(val, key){ #>
          <div class="diff_item"><b>New SEO <#=map(key,'page_seo')#></b>: <#=val#></div>
        <# }); #>

        <# _.each(_.omit(diff,['seo','content','content_elements','page_title','template_title','page_tags', 'diff_with_cmp_branch']), function(val, key){ #>
          <div class="diff_head"><#=map(key,'page')#></div>
          <div class="diff"><#-val#></div>
        <# }); #>

        <# _.each(diff && diff.content, function(val, key){ if(val){ #>
          <div class="diff_head">Content - <#=diff.content_elements[key]#></div>
          <div class="diff"><#-val#></div>
        <# } }); #>
      </div>
    </div>
  <# } #>
</script>

<!-- ----- -->
<!-- MEDIA -->
<!-- ----- -->
<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_media">
<# if(branch_media.branch_media_merge_action!=null || branch_media.media_merge_id!=null){ #>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Media_Diff_Header', {
      branch_media_action: branch_media.branch_media_merge_action,
      media_key: branch_media.media_key,
      oneline: true,
      title: 'View'
        + (branch_media.media_merge_id==((branch_media.src_media||{}).id)?' (Source Branch File Selected)':'')
        + (branch_media.media_merge_id==((branch_media.dst_media||{}).id)?' (Destination Branch File Selected)':''),
      new_media: branch_media.merge_media,
      old_media: branch_media.dst_media}) #>
    <input type="button" value="Undo Resolve" class="button button_unresolve_media" data-key="<#=branch_media.media_key#>"  data-id="<#=null#>" data-branch_action="<#=null#>" />
  </h4>
<# } else { #>
  <div class="branch_diff_comparison">
    <table cellspacing=0 cellpadding=0 border=0>
      <tr>
        <td class="branch_diff_comparison_dst">
          <#-renderTemplate('Media_Diff_Comparison', {
            branch_media_action: branch_media.dst_branch_media_action,
            media_key: branch_media.media_key,
            title: 'Destination',
            desc: dst_branch_desc,
            diff: branch_media.dst_diff,
            new_media: branch_media.dst_media,
            old_media: branch_media.dst_orig_media}) #>
        </td>
        <td class="branch_diff_comparison_src">
          <#-renderTemplate('Media_Diff_Comparison', {
            branch_media_action: branch_media.src_branch_media_action,
            media_key: branch_media.media_key,
            title: 'Source',
            desc: src_branch_desc,
            diff: branch_media.src_diff,
            new_media: branch_media.src_media,
            old_media: branch_media.src_orig_media}) #>
        </td>
      </tr>
    </table>
  </div>
<# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Media_Diff_Header">
  <# if(branch_media_action=='ADD'){ #>
    <i class="material-icons branch_action_icon add">add_circle</i>
    ADDED MEDIA: &nbsp;&nbsp;<#-XExt.escapeHTML(new_media.path)#>
  <# } #>
  <# if(branch_media_action=='DELETE'){ #>
    <i class="material-icons branch_action_icon delete">remove_circle</i>
    DELETED MEDIA: <#-XExt.escapeHTML(old_media.path)#>
    <a href="#" class="preview preview_media" data-media_key="<#=media_key#>" data-media_id="<#=old_media.id#>" data-media_ext="<#=old_media.ext#>" data-media_width="<#=old_media.width#>" data-media_height="<#=old_media.height#>"><img src="/images/icon_browse.png" />Prev</a>
  <# } #>
  <# if(branch_media_action=='UPDATE'){ #>
    <i class="material-icons branch_action_icon update">create</i>
    UPDATED MEDIA: <#-XExt.escapeHTML(old_media.path)#>
  <# } #>
  <# if(branch_media_action==null || branch_media_action==''){ #>
    <i class="material-icons branch_action_icon cancel">cancel</i>
    NO CHANGE: <#-XExt.escapeHTML(new_media.path)#>
  <# } #>
  <# if(!oneline) { #><br/><# } #>
  <# if((branch_media_action=='UPDATE') && (new_media.path!=old_media.path)){ #>
    <br/>
    <i class="material-icons branch_action_icon rename">subdirectory_arrow_right</i>
    RENAMED TO: &nbsp;&nbsp;<#-XExt.escapeHTML(new_media.path)#>
  <# } #>
  <# if(new_media.id!=null){ #>
    <a href="#" class="preview preview_media" data-media_key="<#=media_key#>" data-media_id="<#=new_media.id#>" data-media_ext="<#=new_media.ext#>" data-media_width="<#=new_media.width#>" data-media_height="<#=new_media.height#>"><img src="/images/icon_browse.png" />Preview</a>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Media_Diff_Comparison">
  <h4 class="branch_diff_item_header"><#=title#> Branch: <#=desc#></h4>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Media_Diff_Header', {
      branch_media_action: branch_media_action,
      media_key: media_key,
      oneline: false,
      title: title,
      new_media: new_media,
      old_media: old_media}) #>
    <input type="button" value="Pick" class="button button_resolve_media" data-key="<#=media_key#>" data-id="<#=new_media.id#>" data-branch_action="<#=branch_media_action#>" />
  </h4>

  <# if (diff) { #>
    <div class="branch_diff_item <# if (diff.diff_with_cmp_branch) { #>branch_diff_item_collapsed<# } #>">
      <# if (diff.diff_with_cmp_branch) { #>
        <a href="#" class="branch_diff_item_toggle">
          <span class="branch_diff_item_expand">
            <img src="/images/icon_zoom_in.png" />
            Show differences with other's prior state
          </span>
          <span class="branch_diff_item_collapse">
            <img src="/images/icon_zoom_out.png" />
            Hide differences with other's prior state
          </span>
        </a>
      <# } #>

      <div class="branch_diff_item_details">

        <# _.each(_.pick(diff,['media_desc','media_tags','media_type']), function(val, key){ #>
          <div class="diff_item"><b>New <#=map(key,'media')#></b>: <#=val#></div>
        <# }); #>

        <div>
          <# if(_.includes(['.jpg','.jpeg','.tif','.tiff','.png','.gif','.svg'], (new_media.ext||'').toLowerCase())){ #>
            <div class="diff_media_preview preview_media" data-media_key="<#=media_key#>" data-media_id="<#=new_media.id#>" data-media_ext="<#=new_media.ext#>" data-media_width="<#=new_media.width#>" data-media_height="<#=new_media.height#>">
              <#=desc#>:<br/>
              <img src="<%=jsh._BASEURL%>_funcs/media/<#=media_key#>/file_preview?media_id=<#=new_media.id#>" />
            </div>
          <# } #>
        </div>
      </div>
    </div>
  <# } #>
</script>

<!-- ----- -->
<!-- MENUS -->
<!-- ----- -->
<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_menu">
<# if(branch_menu.branch_menu_merge_action!=null || branch_menu.menu_merge_id!=null){ #>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Menu_Diff_Header', {
      branch_menu_action: branch_menu.branch_menu_merge_action,
      menu_key: branch_menu.menu_key,
      oneline: true,
      title: 'View'
        + (branch_menu.menu_merge_id==((branch_menu.src_menu||{}).id)?' (Source Branch File Selected)':'')
        + (branch_menu.menu_merge_id==((branch_menu.dst_menu||{}).id)?' (Destination Branch File Selected)':''),
      new_menu: branch_menu.merge_menu,
      old_menu: branch_menu.dst_menu}) #>
    <input type="button" value="Undo Resolve" class="button button_unresolve_menu" data-key="<#=branch_menu.menu_key#>"  data-id="<#=null#>" data-branch_action="<#=null#>" />
  </h4>
<# } else { #>
  <div class="branch_diff_comparison">
    <table cellspacing=0 cellpadding=0 border=0>
      <tr>
        <td class="branch_diff_comparison_dst">
          <#-renderTemplate('Menu_Diff_Comparison', {
            branch_menu_action: branch_menu.dst_branch_menu_action,
            menu_key: branch_menu.menu_key,
            title: 'Destination',
            desc: dst_branch_desc,
            diff: branch_menu.dst_diff,
            map: map,
            new_menu: branch_menu.dst_menu,
            old_menu: branch_menu.dst_orig_menu}) #>
        </td>
        <td class="branch_diff_comparison_src">
          <#-renderTemplate('Menu_Diff_Comparison', {
            branch_menu_action: branch_menu.src_branch_menu_action,
            menu_key: branch_menu.menu_key,
            title: 'Source',
            desc: src_branch_desc,
            diff: branch_menu.src_diff,
            map: map,
            new_menu: branch_menu.src_menu,
            old_menu: branch_menu.src_orig_menu}) #>
        </td>
      </tr>
  </table>
  </div>
<# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Menu_Diff_Header">
  <# if(branch_menu_action=='ADD'){ #>
    <i class="material-icons branch_action_icon add">add_circle</i>
    ADDED MENU: &nbsp;&nbsp;<#-XExt.escapeHTML(new_menu.tag)#>
  <# } #>
  <# if(branch_menu_action=='DELETE'){ #>
    <i class="material-icons branch_action_icon delete">remove_circle</i>
    DELETED MENU: <#-XExt.escapeHTML(old_menu.tag)#>
    <a href="#" class="preview preview_menu" data-menu_key="<#=menu_key#>" data-menu_id="<#=old_menu.id#>"><img src="/images/icon_browse.png" />Prev</a>
  <# } #>
  <# if(branch_menu_action=='UPDATE'){ #>
    <i class="material-icons branch_action_icon update">create</i>
    UPDATED MENU: <#-XExt.escapeHTML(old_menu.tag)#>
  <# } #>
  <# if(branch_menu_action==null || branch_menu_action==''){ #>
    <i class="material-icons branch_action_icon cancel">cancel</i>
    NO CHANGE: <#-XExt.escapeHTML(new_menu.tag)#>
  <# } #>
  <# if(!oneline) { #><br/><# } #>
  <# if((branch_menu_action=='UPDATE') && (new_menu.tag!=old_menu.tag)){ #>
    <br/>
    <i class="material-icons branch_action_icon rename">subdirectory_arrow_right</i>
    RENAMED TO: &nbsp;&nbsp;<#-XExt.escapeHTML(new_menu.tag)#>
  <# } #>
  <# if(new_menu.id!=null){ #>
    <a href="#" class="preview preview_menu" data-menu_key="<#=menu_key#>" data-menu_id="<#=new_menu.id#>"><img src="/images/icon_browse.png" />Preview</a>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Menu_Diff_Comparison">
  <h4 class="branch_diff_item_header"><#=title#> Branch: <#=desc#></h4>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Menu_Diff_Header', {
      branch_menu_action: branch_menu_action,
      menu_key: menu_key,
      oneline: false,
      title: title,
      new_menu: new_menu,
      old_menu: old_menu}) #>
    <input type="button" value="Pick" class="button button_resolve_menu" data-key="<#=menu_key#>" data-id="<#=new_menu.id#>" data-branch_action="<#=branch_menu_action#>" />
  </h4>

  <# if (diff) { #>
    <div class="branch_diff_item <# if (diff.diff_with_cmp_branch) { #>branch_diff_item_collapsed<# } #>">
      <# if (diff.diff_with_cmp_branch) { #>
        <a href="#" class="branch_diff_item_toggle">
          <span class="branch_diff_item_expand">
            <img src="/images/icon_zoom_in.png" />
            Show differences with other's prior state
          </span>
          <span class="branch_diff_item_collapse">
            <img src="/images/icon_zoom_out.png" />
            Hide differences with other's prior state
          </span>
        </a>
      <# } #>

      <div class="branch_diff_item_details">
        <# _.each(_.pick(diff,['menu_name','template_title','menu_path']), function(val, key){ #>
          <div class="diff_item"><b>New <#=map(key,'menu')#></b>: <#=val#></div>
        <# }); #>

        <# _.each(_.pick(diff,['menu_items']), function(val, key){ if(val){ #>
          <div class="diff_head">Content - <#=map(key,'menu')#></div>
          <div class="diff"><#-val#></div>
        <# } }); #>
      </div>
    </div>
  <# } #>
</script>


<!-- --------- -->
<!-- REDIRECTS -->
<!-- --------- -->
<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_redirect">
<# if(branch_redirect.branch_redirect_merge_action!=null || branch_redirect.redirect_merge_id!=null){ #>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Redirect_Diff_Header', {
      branch_redirect_action: branch_redirect.branch_redirect_merge_action,
      redirect_key: branch_redirect.redirect_key,
      oneline: true,
      new_redirect: branch_redirect.merge_redirect,
      old_redirect: branch_redirect.dst_redirect}) #>
    <input type="button" value="Undo Resolve" class="button button_unresolve_redirect" data-key="<#=branch_redirect.redirect_key#>"  data-id="<#=null#>" data-branch_action="<#=null#>" />
  </h4>
<# } else { #>
  <div class="branch_diff_comparison">
    <table cellspacing=0 cellpadding=0 border=0>
      <tr>
        <td class="branch_diff_comparison_dst">
          <#-renderTemplate('Redirect_Diff_Comparison', {
            branch_redirect_action: branch_redirect.dst_branch_redirect_action,
            redirect_key: branch_redirect.redirect_key,
            title: 'Destination',
            desc: dst_branch_desc,
            new_redirect: branch_redirect.dst_redirect,
            old_redirect: branch_redirect.dst_orig_redirect}) #>
        </td>
        <td class="branch_diff_comparison_src">
          <#-renderTemplate('Redirect_Diff_Comparison', {
            branch_redirect_action: branch_redirect.src_branch_redirect_action,
            redirect_key: branch_redirect.redirect_key,
            title: 'Source',
            desc: src_branch_desc,
            new_redirect: branch_redirect.src_redirect,
            old_redirect: branch_redirect.src_orig_redirect}) #>
        </td>
      </tr>
    </table>
  </div>
<# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Redirect_Diff_Header">
  <# if(branch_redirect_action=='ADD'){ #>
    <i class="material-icons branch_action_icon add">add_circle</i>
    ADDED REDIRECT: &nbsp;&nbsp;<#-XExt.escapeHTML(new_redirect.url)#>
  <# } #>
  <# if(branch_redirect_action=='DELETE'){ #>
    <i class="material-icons branch_action_icon delete">remove_circle</i>
    DELETED REDIRECT: <#-XExt.escapeHTML(old_redirect.url)#>
  <# } #>
  <# if(branch_redirect_action=='UPDATE'){ #>
    <i class="material-icons branch_action_icon update">create</i>
    UPDATED REDIRECT: <#-XExt.escapeHTML(old_redirect.url)#>
  <# } #>
  <# if(branch_redirect_action==null || branch_redirect_action==''){ #>
    <i class="material-icons branch_action_icon cancel">cancel</i>
    NO CHANGE: <#-XExt.escapeHTML(new_redirect.url)#>
  <# } #>
  <# if(!oneline) { #><br/><# } #>
  <# if(branch_redirect_action=='UPDATE'){ #>
    <# if(new_redirect.url!=old_redirect.url){ #>New URL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<#-XExt.escapeHTML(new_redirect.url)#><# } #>
    <# if(new_redirect.dest!=old_redirect.dest){ #><br/>New Destination: <#-XExt.escapeHTML(new_redirect.dest)#><# } #>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Redirect_Diff_Comparison">
  <h4 class="branch_diff_item_header"><#=title#> Branch: <#=desc#></h4>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Redirect_Diff_Header', {
      branch_redirect_action: branch_redirect_action,
      redirect_key: redirect_key,
      oneline: false,
      new_redirect: new_redirect,
      old_redirect: old_redirect}) #>
    <input type="button" value="Pick" class="button button_resolve_redirect" data-key="<#=redirect_key#>" data-id="<#=new_redirect.id#>" data-branch_action="<#=branch_redirect_action#>" />
  </h4>

  <div class="diff_item">
    URL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<#-XExt.escapeHTML(new_redirect.url)#>
    <br/>
    Destination: <#-XExt.escapeHTML(new_redirect.dest)#>
  </div>
</script>

<!-- -------- -->
<!-- SITEMAPS -->
<!-- -------- -->
<script type="text/x-jsharmony-template" class="<%=model.class%>_template_diff_sitemap">
<# if(branch_sitemap.branch_sitemap_merge_action!=null || branch_sitemap.sitemap_merge_id!=null){ #>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Sitemap_Diff_Header', {
      branch_sitemap_action: branch_sitemap.branch_sitemap_merge_action,
      sitemap_key: branch_sitemap.sitemap_key,
      oneline: true,
      title: 'View'
        + (branch_sitemap.sitemap_merge_id==((branch_sitemap.src_sitemap||{}).id)?' (Source Branch File Selected)':'')
        + (branch_sitemap.sitemap_merge_id==((branch_sitemap.dst_sitemap||{}).id)?' (Destination Branch File Selected)':''),
      new_sitemap: branch_sitemap.merge_sitemap,
      old_sitemap: branch_sitemap.dst_sitemap}) #>
    <input type="button" value="Undo Resolve" class="button button_unresolve_sitemap" data-key="<#=branch_sitemap.sitemap_key#>"  data-id="<#=null#>" data-branch_action="<#=null#>" />
  </h4>
<# } else { #>
  <div class="branch_diff_comparison">
    <table cellspacing=0 cellpadding=0 border=0>
      <tr>
        <td class="branch_diff_comparison_dst">
          <#-renderTemplate('Sitemap_Diff_Comparison', {
            branch_sitemap_action: branch_sitemap.dst_branch_sitemap_action,
            sitemap_key: branch_sitemap.sitemap_key,
            title: 'Destination',
            desc: dst_branch_desc,
            diff: branch_sitemap.dst_diff,
            map: map,
            new_sitemap: branch_sitemap.dst_sitemap,
            old_sitemap: branch_sitemap.dst_orig_sitemap}) #>
        </td>
        <td class="branch_diff_comparison_src">
          <#-renderTemplate('Sitemap_Diff_Comparison', {
            branch_sitemap_action: branch_sitemap.src_branch_sitemap_action,
            sitemap_key: branch_sitemap.sitemap_key,
            title: 'Source',
            desc: src_branch_desc,
            diff: branch_sitemap.src_diff,
            map: map,
            new_sitemap: branch_sitemap.src_sitemap,
            old_sitemap: branch_sitemap.src_orig_sitemap}) #>
        </td>
      </tr>
    </table>
  </div>
<# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Sitemap_Diff_Header">
  <# if(branch_sitemap_action=='ADD'){ #>
    <i class="material-icons branch_action_icon add">add_circle</i>
    ADDED SITEMAP: &nbsp;&nbsp;<#-XExt.escapeHTML(new_sitemap.type)#>
  <# } #>
  <# if(branch_sitemap_action=='DELETE'){ #>
    <i class="material-icons branch_action_icon delete">remove_circle</i>
    DELETED SITEMAP: <#-XExt.escapeHTML(old_sitemap.type)#>
    <a href="#" class="preview preview_sitemap" data-sitemap_key="<#=sitemap_key#>" data-sitemap_id="<#=old_sitemap.id#>"><img src="/images/icon_browse.png" />Prev</a>
  <# } #>
  <# if(branch_sitemap_action=='UPDATE'){ #>
    <i class="material-icons branch_action_icon update">create</i>
    UPDATED SITEMAP: <#-XExt.escapeHTML(old_sitemap.type)#>
  <# } #>
  <# if(branch_sitemap_action==null || branch_sitemap_action==''){ #>
    <i class="material-icons branch_action_icon cancel">cancel</i>
    NO CHANGE: <#-XExt.escapeHTML(new_sitemap.type)#>
  <# } #>
  <# if(!oneline) { #><br/><# } #>
  <# if((branch_sitemap_action=='UPDATE') && (new_sitemap.type!=old_sitemap.type)){ #>
    <br/>
    <i class="material-icons branch_action_icon rename">subdirectory_arrow_right</i>
    RENAMED TO: &nbsp;&nbsp;<#-XExt.escapeHTML(new_sitemap.type)#>
  <# } #>
  <# if(new_sitemap.id!=null){ #>
    <a href="#" class="preview preview_sitemap" data-sitemap_key="<#=sitemap_key#>" data-sitemap_id="<#=new_sitemap.id#>"><img src="/images/icon_browse.png" />Preview</a>
  <# } #>
</script>

<script type="text/x-jsharmony-template" class="<%=model.class%>_template_Sitemap_Diff_Comparison">
  <h4 class="branch_diff_item_header"><#=title#> Branch: <#=desc#></h4>
  <h4 class="branch_diff_item_header">
    <#-renderTemplate('Sitemap_Diff_Header', {
      branch_sitemap_action: branch_sitemap_action,
      sitemap_key: sitemap_key,
      oneline: false,
      title: title,
      new_sitemap: new_sitemap,
      old_sitemap: old_sitemap}) #>
    <input type="button" value="Pick" class="button button_resolve_sitemap" data-key="<#=sitemap_key#>" data-id="<#=new_sitemap.id#>" data-branch_action="<#=branch_sitemap_action#>" />
  </h4>

  <# if (diff) { #>
    <div class="branch_diff_item <# if (diff.diff_with_cmp_branch) { #>branch_diff_item_collapsed<# } #>">
      <# if (diff.diff_with_cmp_branch) { #>
        <a href="#" class="branch_diff_item_toggle">
          <span class="branch_diff_item_expand">
            <img src="/images/icon_zoom_in.png" />
            Show differences with other's prior state
          </span>
          <span class="branch_diff_item_collapse">
            <img src="/images/icon_zoom_out.png" />
            Hide differences with other's prior state
          </span>
        </a>
      <# } #>

      <div class="branch_diff_item_details">
        <# _.each(_.pick(diff,['sitemap_name']), function(val, key){ #>
          <div class="diff_item"><b>New <#=map(key,'sitemap')#></b>: <#=val#></div>
        <# }); #>

        <# _.each(_.pick(diff,['sitemap_items']), function(val, key){ if(val){ #>
          <div class="diff_head">Content - <#=map(key,'sitemap')#></div>
          <div class="diff"><#-val#></div>
        <# } }); #>
      </div>
    </div>
  <# } #>
</script>


<div style="display:none;">
  <div class="<%=model.class%>_RawTextEditor xdialogbox xpromptbox" style="min-width:350px;width:90%;height:90vh;box-sizing:border-box;display:flex;flex-direction:column;">
    <h3 class="edit_page_title">Edit Page</h3>
    <div align="left" style="padding-top:15px;display:flex;flex-direction:column;flex-grow:1;">
      <textarea class="page_content default_focus" style="width:100%;box-sizing:border-box;flex-grow:1;"></textarea>

      <div style="text-align:center;"><input type="button" value="Save" class="button_ok" style="margin-right:15px;margin-top:18px;" /> <input type="button" value="Cancel" class="button_cancel" style="margin-top:18px;" /></div>
    </div>
  </div>
</div>