<script type="text/x-jsharmony-template" class="<%=model.class%>_template_QuickLinks">
<table cellspacing="0" cellpadding="0" border="0">
  <%% var cur_branch = _.find(branch_data, function(branch_item){ return branch_item.code_val=='branch'; });  %%>
  <%% if(cur_branch){ %%>
    <tr class="short_break">
      <th valign="bottom">Current Revision</th>
      <td valign="bottom" colspan="2">
        <%%=cur_branch.code_txt%%>
      </td>
    </tr>
    <tr>
      <th></th>
      <td class="item_desc" colspan="2">
        <a href="<%=jsh._BASEURL%><%=model.namespace%>Branch_Active_Listing">Checkout a different revision</a>
      </td>
    </tr>
  <%% } else { %%>
    <tr>
      <th valign="bottom">Current Revision</th>
      <td valign="bottom" colspan="2">
        You do not have a revision checked out
      </td>
    </tr>
    <tr>
      <th></th>
      <td class="item_desc" colspan="2">
        <a href="<%=jsh._BASEURL%><%=model.namespace%>Branch_Active_Listing">Checkout a revision</a>
      </td>
    </tr>
  <%% } %%>
  <%% _.each(cur_branch && branch_data, function(branch_item){ if(branch_item.code_val=='branch') return; %%>
    <tr>
      <th valign="bottom">&nbsp;&nbsp;<a href="<%%=jsh.globalparams.branch_items[branch_item.code_val].editor_url%%>"><%%=branch_item.code_txt%%></a></th>
      <td valign="bottom">
        <%%=branch_item.cnt%%>
      </td>
      <td valign="bottom" width="100%" class="item_edit_container">
        <a href="<%%=jsh.globalparams.branch_items[branch_item.code_val].editor_url%%>" class="jsHarmonyCms_action_button">Edit</a>
      </td>
    </tr>
  <%% }); %%>
</table>
</script>